.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 41px; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.start {
  margin-top: 20px
}

.question-card {
  margin-top: 25px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @media only screen and (min-width: 600px) {
  .card {
    background-color: lightblue;
  }
} */


.question {
  color: #000;
  font-size: 20px; 
  margin-top: 25px
}


.answer-list {
  list-style: none;
  margin-left: -35px;
}

.answer-btn {

    width: 40%;
    margin-bottom: 12px;
    padding: 4px;
    height: 40px;
    font-size: 15px;
    text-transform: none;

}

@media only screen and (max-width: 600px) {
  .card {
    /* width: 50%; */
    /* margin-right: 760px; */
    margin-left: 1px; 
    background-color: red;
    align-items: center;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}